@import "_nullstyle";
@font-face {
   font-family: "Lato";
   src:
      url("../font/latoregular.woff2") format("woff2"),
      local("Lato Regular"),
      local("Lato-Regular");
   font-weight: 400;
   font-style: normal;
   ont-display: swap;
}
@font-face {
   font-family: "Lato";
   src:
      url("../font/latomedium.woff2") format("woff2"),
      local("Lato Medium"),
      local("Lato-Medium");
   font-weight: 500;
   font-style: normal;
   ont-display: swap;
}

@font-face {
   font-family: "Lato";
   src:
      url("../font/latosemibold.woff2") format("woff2"),
      local("Lato Semibold"),
      local("Lato-Semibold");
   font-weight: 600;
   font-style: normal;
   ont-display: swap;
}

@font-face {
   font-family: "Lato";
   src:
      url("../font/latobold.woff2") format("woff2"),
      local("Lato Bold"),
      local("Lato-Bold");
   font-weight: 700;
   font-style: normal;
   ont-display: swap;
}

@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

.nunito {
   font-family: "Nunito", sans-serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
}

body {
   font-family: "Lato", sans-serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
   background: #f5f9fa;
}
h2 {
   color: var(--black, #1b2636);

   font-size: 28px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
}
.container {
   max-width: 1208px;
   margin: 0px auto;
}
main {
   padding: 75px 0px 0px 0px;
}
.header {
   .circle {
      transition: 0.2s;

      width: 14px;
      height: 14px;
      border-radius: 14px;
      background: #ffffff;
   }
   .toggle {
      &:hover > .circle {
         box-shadow: 0 0px 6px rgba(0, 0, 0, 0.4);
      }
      &.dark {
         justify-content: flex-start;
      }
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 32px;
      height: 16px;
      background: #14b8ad;
      border-radius: 16px;
      padding: 1px;
   }
   .day-night {
      display: flex;
      align-items: center;
      gap: 12px;
   }
   .butt {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4px;
      color: #9ca3af;
      text-align: center;
      font-family: "Nunito";
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%; /* 15.6px */
      letter-spacing: 0.12px;
   }
   .buttons {
      display: flex;
      align-items: center;
      gap: 24px;
   }
   .tools {
      display: flex;
      align-items: center;
      gap: 32px;
   }
   .main-nav {
      ul {
         a {
            display: flex;
            align-items: center;
            gap: 9px;
            height: 21px;
            position: relative;

            color: #626b84;

            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%; /* 21px */
            letter-spacing: 0.14px;
            text-transform: uppercase;
         }
         display: flex;
         gap: 32px;
         align-items: flex-end;
      }
   }
   .logo {
      display: flex;
      align-items: center;
      gap: 5px;

      color: var(--akcent, #14b8ad);
      font-family: "Nunito";
      font-size: 28px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.56px;
   }
   .wrapper {
      display: flex;
      align-items: center;
      gap: 32px;
   }
   position: fixed;
   min-width: 100%;
   padding: 14px 0px;
   background: #ffffff;
   border-bottom: 1px solid #dddde4;
}
.breadcrumbs {
   li {
      &:first-child a {
         padding: 0px 0px 0px 0px;
         &::before {
            display: none;
         }
      }
   }
   a {
      &::before {
         content: "";
         position: absolute;
         left: 0;
         top: 50%;
         width: 5px;
         height: 1px;
         background: #9ca3af;
      }
      padding: 0px 0px 0px 10px;
      position: relative;
      color: #9ca3af;
      font-size: 14px;
      font-weight: 400;
   }
   ul {
      display: flex;
      gap: 5px;
   }
   padding: 28px 0px 32px 0px;
}
.content-wrapper {
   .right-menu {
      flex-grow: 1;
   }
   .content {
      min-width: 796px;
   }
   display: flex;
   gap: 28px;
}
.button-green {
   border-radius: 46px;
   border: 1px solid var(--Green, #14b8ad);
   background: var(--Green, #14b8ad);

   display: flex;
   padding: 12px 24px;
   justify-content: center;
   align-items: center;
   gap: 10px;

   max-width: fit-content;

   color: var(--White, #fff);
   text-align: center;
   font-size: 16px;
   font-style: normal;
   font-weight: 500;
   line-height: 140%; /* 22.4px */

   cursor: pointer;
}
.button-gray {
   display: flex;
   padding: 8px 12px;
   justify-content: center;
   align-items: center;
   gap: 10px;

   border-radius: 200px;
   background: var(--Fon, #e3eef0);

   color: var(--black, #1b2636);

   font-size: 12px;
   font-style: normal;
   font-weight: 400;
   line-height: 130%; /* 15.6px */
   letter-spacing: 0.12px;

   cursor: pointer;
}
.intro {
   h2 {
      margin: 0px 0px 16px 0px;
   }
   .stars {
      span {
         margin-left: 2px;
      }
      display: flex;
      align-items: center;
      color: #626b84;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 12px; /* 100% */
      gap: 6px;
   }

   .views {
      .item {
         display: flex;
         align-items: center;
         gap: 4px;

         color: var(--text-light, #9ca3af);

         font-size: 12px;
         font-style: normal;
         font-weight: 400;
         line-height: 130%; /* 15.6px */
         letter-spacing: 0.12px;
      }
      display: flex;
      align-items: center;
      gap: 8px;
   }
   .param {
      display: flex;
      align-items: center;
      gap: 20px;
   }
   .row {
      display: flex;
      align-items: center;
      gap: 24px;
   }
   .content {
      display: flex;
      flex-direction: column;
      gap: 24px;
   }
   .info {
      .item {
         flex-grow: 1;
         .infor {
            display: flex;
            flex-direction: column;
            gap: 2px;
            span {
               color: var(--Black, #1b2636);
               font-size: 18px;
               font-style: normal;
               font-weight: 700;
               line-height: 150%; /* 27px */
            }
            color: var(--Gray, #626b84);
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 21.6px; /* 154.286% */
         }
         display: flex;
         gap: 16px;
         img {
            width: 48px;
            height: 48px;
         }
      }
      display: flex;
      flex-direction: column;
      gap: 32px;
   }
   .sub-logo {
      .img {
         padding: 21px 10px;
      }
      display: flex;
      flex-direction: column;
      gap: 24px;
      align-items: center;
   }
}
